<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Brave UX - Work - Stretch</title>
  <%- include ../../partials/_head %>
  <link rel='stylesheet' href='styles/stretch.min.css'>
</head>
<body class="stretch stretch-brand">
  <%- include ../../partials/_menu %>
  <%- include ../../partials/_stretch-subnav %>
  <main class="wrapper case-study">
    <header class="case-header">
      <div class="case-header-content bottom container">
        <h5 class="case-header-client-name">Stretch Live</h5>
        <h1 class="case-header-tagline">Bringing&#32;<br />Stretch&nbsp;to&nbsp;Life</h1>
        <h6 class="case-header-type">Brand and Marketing Site</h6>
      </div>
    </header>

    <section class="case-exec-summary padded green">
      <div class="container">
        <p class="case-exec-summary-text">We set out to reposition Stretch to be more competitive in the Live Streaming space and ended up creating a fun, vibrant and effective brand that converts users into lifelong customers.</p>
      </div>
    </section>

    <section class="case-breakdown padded light-black">
      <div class="container row between">
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Challenge</p>
          <h3 class="case-breakdown-summary">
              A story that didn't live&#32;<br />up to the experience
          </h3>
          <p class="case-breakdown-detail">
            How could we transition the Stretch brand to be modern, engaging and appealing to a broad audience, without losing the soul of the&nbsp;company?
          </p>
        </div>
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Solution</p>
          <h3 class="case-breakdown-summary">
              Keep the characters,&#32;<br />tell a new tale
          </h3>
          <p class="case-breakdown-detail">
            Stretch was already loved by their customers for their incredible support. We shifted customer perceptions with a new, great&nbsp;product.
          </p>
        </div>
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Scope</p>
          <ul class="case-breakdown-list">
            <li class="case-breakdown-list-item">Brand Strategy</li>
            <li class="case-breakdown-list-item">Brand System</li>
            <li class="case-breakdown-list-item">Interaction Design</li>
            <li class="case-breakdown-list-item">Front End Development</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="block black extra-padded stretch-intro-animation">
      <video class="block__video block__video--hero" muted loop>
        <source src="/assets/videos/home-hero.webm" type="video/webm">
        <source src="/assets/videos/home-hero.mp4" type="video/mp4">
      </video>
      <div class="marquee container">
        <div class="marquee__intro"> 
          <object class="marquee__logo stretch-logo-text" type="image/svg+xml" data="./images/work/stretch/brand/stretch-logo-text.svg"></object>
          <ul class="marquee__list">
            <li class="marquee__list-item">every run</li>
            <li class="marquee__list-item">every note</li>
            <li class="marquee__list-item">every turn</li>
            <li class="marquee__list-item">every moment</li>
          </ul>
          <div class="marquee__line"></div>
        </div>
        <div class="marquee__box marquee__box--in-line">
          <div class="marquee__tagline--logo"></div>
          <p class="marquee__tagline marquee__tagline--caps marquee__tagline--featured">Live</p>
          <p class="marquee__tagline marquee__tagline--caps">Streaming</p>
          <p class="marquee__tagline marquee__tagline--caps">Media</p>
        </div>
      </div>
    </section>

    <section class="block row">
      <div class="inner-block absolute-center-md padded column half-md gray">
        <div class="container">
          <div class="inner-block-content container">
            <h2 class="case-block-heading">Taking Stretch Live</h2>
            <p class="case-block-text">
              We renamed Stretch Internet to Stretch Live, changing a passive brand into an active experience.
            </p>
            <p class="case-block-text">
              Our mark is a fine line between literal and abstract: a recording light is universally understood as being “on air;” a play button and progress bar are hallmarks of online viewing; and the resulting solid line can infinitely bend, flex and support any message - just like their platform.
            </p>
          </div>
        </div>
      </div> 
      <div class="inner-block column half-md hide-overflow">
        <div class="inner-box red">
          <img src="./images/work/stretch/brand/rec.png" alt="" class="inner-block-image sr-stagger-reveal">
      </div>
      <div class="inner-box white">
        <img src="./images/work/stretch/brand/play-line.png" alt="" class="inner-block-image sr-stagger-reveal">
      </div>   
    </section>

    <section class="block extra-padded stretch-logo-animation">
      <div class="container-narrow">
        <video class="inner-block-image" poster="" muted loop>
          <source src="./images/work/stretch/brand/responsive-logo-loop.webm" type="video/webm">
          <source src="./images/work/stretch/brand/responsive-logo-loop.mp4" type="video/mp4">
        </video>
      </div>
    </section>

    <section class="block padded-top stretch-wave stretch-brand-unique">
      <div class="inner-block padded-bottom row absolute-center-md">
        <div class="inner-block-content content-centered container">
          <h2 class="case-block-heading">In this together</h2>
          <p class="case-block-text">
              We tailor-made an Issue system that keeps users engaged and focused, without stepping on each&nbsp;other's&nbsp;toes.
          </p>
        </div>
      </div>
      <div class="inner-block row">
        <div class="container-narrow">
          <img src="./images/work/stretch/support/issue-list-1.png" alt="" class="inner-block-image contain shadow-dark-filter sr-stagger-bottom">
          <img src="./images/work/stretch/support/issue-list-2.png" alt="" class="inner-block-image absolute contain shadow-dark-filter sr-stagger-bottom">
          <img src="./images/work/stretch/support/issue-list-3.png" alt="" class="inner-block-image absolute contain shadow-dark-filter sr-stagger-bottom">
          <img src="./images/work/stretch/support/issue-list-4.png" alt="" class="inner-block-image absolute contain shadow-dark-filter sr-stagger-bottom">
        </div>
      </div>
    </section>

    <section class="block row bg-image padded white">
      <div class="inner-block column gutter-right-mobile half-md">
        <div class="frame frame-desktop edge-left darker rounded shadow sr-left">
          <img src="./images/work/stretch/support/issue-tracker.jpg" alt="" class="inner-block-image contain">
        </div>
      </div>
      <div class="inner-block absolute-center-md gutter-bottom-mobile order-top-xs column half-md">
        <div class="inner-block-content container">
          <h2 class="case-block-heading">Fighting Fires</h2>
          <p class="case-block-text">
            We created fast, effective views that let users instantly zoom in on any technical issue, with supporting tools and historical data to help them find the right&nbsp;solution.
          </p>
        </div>
      </div>
    </section>

    <section class="block extra-padded black">
      <div class="container-narrow">
        <img src="./images/work/stretch/support/issue-callout.png" alt="" class="inner-block-image padded-bottom contain sr-stagger-bottom">
        <img src="./images/work/stretch/support/issue-graph.png" alt="" class="inner-block-image contain sr-stagger-bottom">
      </div>
    </section>

    <section class="block row bg-image padded white">
        <div class="inner-block absolute-center-md gutter-bottom-mobile column half-md">
        <div class="inner-block-content container">
          <h2 class="case-block-heading">Helping Customers&nbsp;Grow</h2>
          <p class="case-block-text">
              Users can make sure every organization gets advice, support, and even inspiration on how to use the Stretch platform in creative&nbsp;ways.
          </p>
        </div>
      </div>
      <div class="inner-block column gutter-left-mobile half-md">
        <div class="frame frame-desktop edge-right darker rounded shadow sr-right">
          <!-- TODO: fix image -->
          <img src="./images/work/stretch/support/client-support.jpg" alt="" class="inner-block-image contain">
        </div>
      </div>
    </section>

    <section class="block">
      <img src="./images/work/stretch/support/support-desk.jpg" alt="" class="inner-block-image contain">
    </section>

    <section class="block row bg-image padded light-black">
      <div class="inner-block column gutter-right-mobile half-md">
        <img src="./images/work/stretch/support/bar-graph.jpg" alt="" class="inner-block-image contain sr-reveal">
      </div>
      <div class="inner-block absolute-center-md gutter-bottom-mobile order-top-xs column half-md">
        <div class="inner-block-content container">
          <h2 class="case-block-heading">Never&nbsp;skipping a&nbsp;beat</h2>
          <p class="case-block-text">
              Historical analysis meets predictive modeling: our UX lets Stretch identify usage trends so that Stretch can grow alongside their&nbsp;customers.
          </p>
        </div>
      </div>
    </section>

    <section class="case-referral row">
      <div class="inner-block padded column absolute-center-xs half-md gray">
        <div class="container">
          <p class="case-referral-blockquote">Long quote here from Jordan Duvall or another Stretch team member</p>
        </div>
      </div>
      <div class="inner-block padded column half-md teal">
        <div class="container">
          <div class="case-referral-quote-icon"></div>
          <p class="case-referral-text">Long quote here from Jordan Duvall or another Stretch team member lorem ipsum dolot sit amet. Long quote here from Jordan Duvall or another Stretch team member lorem ipsum dolot sit amet.</p>
          <p class="case-referral-author">Jordan Duvall, <em>Position, Stretch Live</em></p>
        </div>
      </div>
    </section>

    <section class="cta-block padded">
      <a href="./work/upfront" class="cta-button cta-button-left" title="Previous Case">Previous Case</a>
      <div class="cta-content container">
        <div class="container">
          <div class="cta-text">Sometimes, you find something that just works.</div>
          <a href="/approach" class="btn btn-text icon-arrow">See Our Approach</a>
        </div>
      </div>
      <a href="./work/ijr" class="cta-button cta-button-right" title="Next Case">Next Case</a>
    </section>

    <%- include ../../partials/_footer %>
  </main>
  <%- include ../../partials/_footer-scripts %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/plugins/CSSRulePlugin.min.js"></script>
  <script src="scripts/stretch.js"></script>

</body>
</html>
