<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>Brave UX - Work - Stretch</title>
  <%- include ../../partials/_head %>
    <link rel='stylesheet' href='styles/stretch.min.css'>
</head>

<body class="stretch stretch-support">
  <%- include ../../partials/_menu %>
    <%- include ../../partials/_stretch-subnav %>
      <main class="wrapper case-study">
        <header class="case-header">
          <div class="case-header-content bottom container">
            <h5 class="case-header-client-name">Stretch Support</h5>
            <h1 class="case-header-tagline">The best backend for&nbsp;
              <br />the best support&nbsp;team</h1>
            <h6 class="case-header-type">Live Event Support System</h6>
          </div>
        </header>

        <section class="case-exec-summary padded teal">
          <div class="container">
            <p class="case-exec-summary-text">We sat in the trenches with Stretch&rsquo;s top-rated support team, and created a technology-powered workflow
              that doesn&rsquo;t lose the human touch.</p>
          </div>
        </section>

        <section class="case-breakdown padded light-black">
          <div class="container row">
            <div class="case-breakdown-box column gutter">
              <p class="case-breakdown-heading">Challenge</p>
              <h3 class="case-breakdown-summary">
                Support Thousands of Live&nbsp;
                <br />Events at the Same Time
              </h3>
              <p class="case-breakdown-detail">
                Missing feeds, rain delays, audio glitches, bad focus -how can a system triage all of&nbsp;it?
              </p>
            </div>
            <div class="case-breakdown-box column gutter">
              <p class="case-breakdown-heading">Solution</p>
              <h3 class="case-breakdown-summary">
                Turn Humans into a&nbsp;
                <br />Force Multiplier
              </h3>
              <p class="case-breakdown-detail">
                Let automated analysis tools detect the obvious stuff, freeing the support team to manage each event - and each organization
                - personally.
              </p>
            </div>
            <div class="case-breakdown-box column gutter">
              <p class="case-breakdown-heading">Scope</p>
              <ul class="case-breakdown-list">
                <li class="case-breakdown-list-item">Research</li>
                <li class="case-breakdown-list-item">Information Architecture</li>
                <li class="case-breakdown-list-item">Interaction Design</li>
              </ul>
            </div>
          </div>
        </section>

        <section class="block row padded white">
          <div class="inner-block column column-block gutter-right-mobile half-md">
            <div class="frame frame-desktop edge-left darker rounded shadow sr-left lazy-ratio" data-width="892" data-height="503">
              <img data-normal="./images/work/stretch/support/issue-tracker.jpg" alt="" class="inner-block-image contain">
            </div>
          </div>
          <div class="inner-block absolute-center-md gutter-bottom-mobile order-top-xs column half-md">
            <div class="inner-block-content container">
              <h2 class="case-block-heading">Fighting Fires</h2>
              <p class="case-block-text">
                We created fast, effective views that let users instantly zoom in on any technical issue, with supporting tools and historical
                data to help them find the right&nbsp;solution.
              </p>
            </div>
          </div>
        </section>

        <section class="block extra-padded black">
          <div class="container-narrow">
            <div class="lazy-ratio" data-width="987" data-height="303">
              <img data-normal="./images/work/stretch/support/issue-callout.png" alt="" class="inner-block-image contain sr-stagger-bottom">
            </div>
            <div class="lazy-ratio padded-top" data-width="728" data-height="197">
              <img data-normal="./images/work/stretch/support/issue-graph.png" alt="" class="inner-block-image contain sr-stagger-bottom">
            </div>
          </div>
        </section>

        <section class="block row padded white">
          <div class="inner-block absolute-center-md gutter-bottom-mobile column half-md">
            <div class="inner-block-content container">
              <h2 class="case-block-heading">Helping Customers&nbsp;Grow</h2>
              <p class="case-block-text">
                Users can make sure every organization gets advice, support, and even inspiration on how to use the Stretch platform in creative&nbsp;ways.
              </p>
            </div>
          </div>
          <div class="inner-block column column-block gutter-left-mobile half-md">
            <div class="frame frame-desktop edge-right darker rounded shadow sr-right lazy-ratio" data-width="1920" data-height="980">
              <img data-normal="./images/work/stretch/support/client-support.jpg" alt="" class="inner-block-image contain">
            </div>
          </div>
        </section>

        <section class="block">
          <img data-normal="./images/work/stretch/support/support-desk.jpg" alt="" class="block-image">
        </section>

        <section class="block padded gray">
          <div class="inner-block padded-bottom row absolute-center-md">
            <div class="inner-block-content content-centered container">
              <h2 class="case-block-heading">In this together</h2>
              <p class="case-block-text">
                We tailor-made an Issue system that keeps users engaged and focused, without stepping on each&nbsp;other&rsquo;s&nbsp;toes.
              </p>
            </div>
          </div>
          <div class="inner-block row">
            <div class="container-narrow">
              <div class="lazy-ratio" data-width="1125" data-height="630">
                <img data-normal="./images/work/stretch/support/issue-list-1.png" alt="" class="inner-block-image contain shadow-dark-filter sr-stagger-bottom">
                <img data-normal="./images/work/stretch/support/issue-list-2.png" alt="" class="inner-block-image contain shadow-dark-filter sr-stagger-bottom">
                <img data-normal="./images/work/stretch/support/issue-list-3.png" alt="" class="inner-block-image contain shadow-dark-filter sr-stagger-bottom">
                <img data-normal="./images/work/stretch/support/issue-list-4.png" alt="" class="inner-block-image contain shadow-dark-filter sr-stagger-bottom">
              </div>
            </div>
          </div>
        </section>

        <section class="block row padded light-black">
          <div class="inner-block column column-block gutter-right-mobile half-md">
            <div class="lazy-ratio" data-width="661" data-height="572">
              <img data-normal="./images/work/stretch/support/bar-graph.jpg" alt="" class="inner-block-image contain sr-reveal">
            </div>
          </div>
          <div class="inner-block absolute-center-md gutter-bottom-mobile order-top-xs column half-md">
            <div class="inner-block-content container">
              <h2 class="case-block-heading">Never&nbsp;skipping a&nbsp;beat</h2>
              <p class="case-block-text">
                Historical analysis meets predictive modeling: our UX lets Stretch identify usage trends so that Stretch can grow alongside
                their&nbsp;customers.
              </p>
            </div>
          </div>
        </section>

        <section class="case-referral row">
          <div class="inner-block padded column absolute-center-xs half-md gray">
            <div class="container">
              <p class="case-referral-blockquote">They are world class at what they do...</p>
            </div>
          </div>
          <div class="inner-block padded column half-md teal">
            <div class="container">
              <div class="case-referral-quote-icon"></div>
              <p class="case-referral-text">One word: &lsquo;Wow.&rsquo; I can&rsquo;t say enough about Brave. I can’t think of many other vendors who
                really deliver on true partnership the way Brave does. They are world class at what they do, and they know
                it. Better yet, they deliver on it.</p>
              <p class="case-referral-author">Ryan Ermeling,
                <em>President & CEO, Stretch</em>
              </p>
            </div>
          </div>
        </section>

        <section class="cta-block padded">
          <a href="./work/upfront" class="cta-button cta-button-left" title="Previous Case">Previous Case</a>
          <div class="cta-content container">
            <div class="cta-text">Sometimes, you find something that just works.</div>
            <a href="/approach" class="btn btn-text icon-arrow">See Our Approach</a>
          </div>
          <a href="./work/ijr" class="cta-button cta-button-right" title="Next Case">Next Case</a>
        </section>

        <%- include ../../partials/_footer %>
      </main>

      <%- include ../../partials/_footer-scripts %>

</body>

</html>