<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>Brave UX - Work - Hurdlr</title>
  <%- include ../partials/_head %>
</head>

<body>
  <%- include ../partials/_menu %>
    <main class="wrapper case-study hurdlr">
      <header class="case-header">
        <div class="case-header-content container">
          <h5 class="case-header-client-name">Hurdlr</h5>
          <h1 class="case-header-tagline">Self-empowerment&nbsp;
            <br />for solopreneurs</h1>
          <h6 class="case-header-type">Financial Tracking Platform</h6>
        </div>
      </header>

      <section class="case-exec-summary padded">
        <div class="container">
          <p class="case-exec-summary-text">We helped Hurldr put powerful financial and tax tools to the busiest companies of all: the self employed.</p>
        </div>
      </section>

      <section class="case-breakdown padded green">
        <div class="container row">
          <div class="case-breakdown-box column gutter">
            <p class="case-breakdown-heading">Challenge</p>
            <h3 class="case-breakdown-summary">
              An Entire Business,&nbsp;
              <br />Handheld
            </h3>
            <p class="case-breakdown-detail">
              Ad-hoc spreadsheets are error-prone and messy, even when you have a full-screen desktop. But what happens when your desk
              is miles&nbsp;away?
            </p>
          </div>
          <div class="case-breakdown-box column gutter">
            <p class="case-breakdown-heading">Solution</p>
            <h3 class="case-breakdown-summary">
              Charity Meets&nbsp;
              <br />Consistency
            </h3>
            <p class="case-breakdown-detail">
              We developed a scaleable framework that highlights key financial metrics and quick actions when you're mobile, and context-rich
              analysis when you're at your&nbsp;desk.
            </p>
          </div>
          <div class="case-breakdown-box column gutter">
            <p class="case-breakdown-heading">Scope</p>
            <ul class="case-breakdown-list">
              <li class="case-breakdown-list-item">Information Architecture</li>
              <li class="case-breakdown-list-item">Interaction Design</li>
            </ul>
          </div>
        </div>
      </section>

      <section class="block padded hurdlr-welcome">
        <div class="inner-block padded-bottom row absolute-center-md">
          <div class="inner-block-content content-centered container">
            <h2 class="case-block-heading">A Stress-Free Welcome</h2>
            <p class="case-block-text">
              Diving into the world of self-employment finances can be hell. Our animated onboarding steps bring the process to life, while
              helping quickly communicate the power of Hurdlr - even if you're in a rush.
            </p>
          </div>
        </div>
        <div class="inner-block">
          <div class="container relative row between">
            <div class="frame frame-mobile darker sr-stagger-tall">
              <div class="frame-container">
                <img class="inner-block-image" alt="Onboarding Landing Page for Mobile" data-normal="./images/work/hurdlr/onboarding-landing.jpg"
                  data-srcset="./images/work/hurdlr/onboarding-landing@0.5x.jpg 188w,
                            ./images/work/hurdlr/onboarding-landing.jpg 375w,
                            ./images/work/hurdlr/onboarding-landing@2x.jpg 750w" sizes="33.33vw">
              </div>
            </div>
            <div class="frame frame-mobile darker sr-stagger-tall">
              <div class="frame-container">
                <img class="inner-block-image" alt="Onboarding Mileage Page for Mobile" data-normal="./images/work/hurdlr/onboarding-mileage.jpg"
                  data-srcset="./images/work/hurdlr/onboarding-mileage@0.5x.jpg 188w,
                  ./images/work/hurdlr/onboarding-mileage.jpg 375w,
                  ./images/work/hurdlr/onboarding-mileage@2x.jpg 750w" sizes="33.33vw">
              </div>
            </div>
            <div class="frame frame-mobile darker sr-stagger-tall">
              <div class="frame-container">
                <img class="inner-block-image" alt="Onboarding Income and Expenses Page for Mobile" data-normal="./images/work/hurdlr/onboarding-finances.jpg"
                  data-srcset="./images/work/hurdlr/onboarding-finances@0.5x.jpg 188w,
                  ./images/work/hurdlr/onboarding-finances.jpg 375w,
                  ./images/work/hurdlr/onboarding-finances@2x.jpg 750w" sizes="33.33vw">
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="block hurdlr-gauge">
        <img alt="Picture of New York City" class="block-image" data-normal="./images/work/hurdlr/nyc.jpg" data-srcset="./images/work/hurdlr/nyc@0.5x.jpg 720w,
          ./images/work/hurdlr/nyc.jpg 1440w,
          ./images/work/hurdlr/nyc@1.5x.jpg 2160w" sizes="100vw">
        <img data-normal="./images/work/hurdlr/number-gauge.svg" alt="Graphic of a speedometer with a dollar sign pivot and mileage gauge increasing in value"
          class="inner-block-image absolute sr-reveal">
      </section>

      <section class="block row">
        <div class="inner-block padded absolute-center-md column half-md blue">
          <div class="inner-block-content container">
            <h2 class="case-block-heading">Mobile-First&#32;
              <br />Done Right</h2>
            <p class="case-block-text">
              The mobile versions of many finance apps are cluttered at best and watered-down at worse. We knew we had to nail the right
              level of focus on mobile if the entire platform would succeed.
            </p>
          </div>
        </div>
        <div class="inner-block column padded align-center half-md hide-overflow hurdlr-map">
          <div class="frame frame-mobile shadow-dark lighter sr-stagger-tall">
            <div class="frame-container">
              <img class="inner-block-image" alt="Onboarding Mileage Page for Mobile" data-normal="./images/work/hurdlr/swipe-map.jpg"
                data-srcset="./images/work/hurdlr/swipe-map@0.5x.jpg 225w,
                    ./images/work/hurdlr/swipe-map.jpg 450w,
                    ./images/work/hurdlr/swipe-map@2x.jpg 900w" sizes="(max-width: 768px) 45vw, 33.33vw">
            </div>
          </div>
        </div>
      </section>

      <section class="block gray hurdlr-icons">
        <div class="lazy-ratio" data-width="1440" data-height="440">
          <img data-normal="./images/work/hurdlr/icons-editor.svg" alt="Graphic of a pencil and ruler" class="inner-block-image sr-stagger-bottom sr-delay">
          <img data-normal="./images/work/hurdlr/icons-plug.svg" alt="Graphic of a plug" class="inner-block-image absolute sr-stagger-bottom sr-delay">
          <img data-normal="./images/work/hurdlr/icons-hat.svg" alt="Graphic of a hat" class="inner-block-image absolute sr-stagger-bottom sr-delay">
          <img data-normal="./images/work/hurdlr/icons-stack.svg" alt="Graphic of a stack of money" class="inner-block-image absolute sr-stagger-bottom sr-delay">
          <img data-normal="./images/work/hurdlr/icons-road.svg" alt="Graphic of a road" class="inner-block-image absolute sr-stagger-bottom sr-delay">
          <img data-normal="./images/work/hurdlr/icons-piggy.svg" alt="Graphic of a piggy bank" class="inner-block-image absolute sr-stagger-bottom sr-delay">
          <img data-normal="./images/work/hurdlr/icons-car.svg" alt="Graphic of a car" class="inner-block-image absolute sr-stagger-bottom sr-delay">
          <img data-normal="./images/work/hurdlr/icons-tag.svg" alt="Graphic of a tag" class="inner-block-image absolute sr-stagger-bottom sr-delay">
          <img data-normal="./images/work/hurdlr/icons-ticket.svg" alt="Graphic of a ticket" class="inner-block-image absolute sr-stagger-bottom sr-delay">
        </div>
      </section>

      <section class="block padded black hurdlr-condensed">
        <div class="container row">
          <div class="inner-block column column-block one-third-md align-self-center-md">
            <div class="lazy-ratio" data-width="370" data-height="202">
              <img data-normal="./images/work/hurdlr/condense-sm-top.svg" alt="Visual display of 'Dosis Modified' font being cleaner and more condensed than the 'Bryant' font."
                class="inner-block-image">
            </div>
          </div>
          <div class="inner-block absolute-center-md column two-third-md">
            <div class="inner-block-content row full gutter-left">
              <i class="icon sr-stagger-reveal"></i>
              <div>
                <h2 class="case-block-heading">Do: Condense the Numbers</h2>
                <p class="case-block-text wide">
                  Careful type selections ensure that the backbone of finance - numerals - are easy to track, but compact enough to fit in
                  a column, or a mobile phone.
                </p>
              </div>
            </div>

          </div>
        </div>
        <div class="container row">
          <div class="inner-block column column-block one-third-md align-self-center-md">
            <div class="lazy-ratio" data-width="370" data-height="202">
              <img data-normal="./images/work/hurdlr/condense-sm-bottom.svg" alt="Visual display of 'Dosis Modified' font being cleaner and more condensed than the 'Bryant' font."
                class="inner-block-image">
            </div>
          </div>
          <div class="inner-block absolute-center-md column two-third-md">
            <div class="inner-block-content row full gutter-left">
              <i class="icon sr-stagger-reveal"></i>
              <div>
                <h2 class="case-block-heading">Don't: Stretch the Math</h2>
                <p class="case-block-text wide">
                  When you don't balance function, it's easy to let form waste valuable space, a mistake many other finance apps make.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="block extra-padded">
        <div class="inner-block padded-bottom row absolute-center-md">
          <div class="inner-block-content content-centered container">
            <h2 class="case-block-heading">Desktops that Get to Work</h2>
            <p class="case-block-text">
              Bigger isn&rsquo;t always better. We had to find the right additional detail and context to show on bigger screen sizes.
            </p>
          </div>
        </div>
        <div class="inner-block">
          <div class="container relative">
            <div class="frame frame-desktop darker rounded shadow-dark sr-tall lazy-ratio" data-width="1144" data-height="900">
              <img class="inner-block-image" alt="Desktop Listings Overview" data-normal="./images/work/hurdlr/listings.jpg" data-srcset="./images/work/hurdlr/listings@0.5x.jpg 572w,
                      ./images/work/hurdlr/listings.jpg 900w,
                      ./images/work/hurdlr/listings@1.5x.jpg 1716w" sizes="90vw">
            </div>
          </div>
      </section>

      <section class="block">
        <div class="lazy-ratio" data-width="1440" data-height="674">
          <img alt="Picture of a woman walking down a city street while using her mobile device" class="inner-block-image" data-normal="./images/work/hurdlr/woman-phone.jpg"
            data-srcset="./images/work/hurdlr/woman-phone@0.5x.jpg 720w,
          ./images/work/hurdlr/woman-phone.jpg 1440w,
          ./images/work/hurdlr/woman-phone@1.5x.jpg 2160w" sizes="100vw">
          <div class="hurdlr-notifications lazy-ratio" data-width="423" data-height="397">
            <%- include ../partials/_hurdlr-notifications %>
          </div>
        </div>
      </section>

      <section class="block row">
        <div class="inner-block padded absolute-center-md column half-md gray">
          <div class="inner-block-content container">
            <h2 class="case-block-heading">Intuitive Facts from&#32;
              <br />Front to Back</h2>
            <p class="case-block-text">
              Not everyone thinks the same way. A variety of carefully curated data formats helps patterns stand out.
            </p>
          </div>
        </div>
        <div class="inner-block column column-block padded align-center half-md hide-overflow orange">
          <div class="lazy-ratio container" data-width="504" data-height="517">
            <img class="inner-block-image shadow-filter sr-delay sr-right" alt="Snippet of a profit + loss overview" data-normal="./images/work/hurdlr/fact-mileage.png"
              data-srcset="./images/work/hurdlr/fact-mileage@0.5x.png 252w,
                ./images/work/hurdlr/fact-mileage.png 517w,
                ./images/work/hurdlr/fact-mileage@1.5x.png 756w" sizes="40vw">
            <img class="inner-block-image shadow-filter sr-left" alt="Snippet of a profit + loss overview" data-normal="./images/work/hurdlr/fact-profit.png"
              data-srcset="./images/work/hurdlr/fact-profit@0.5x.png 252w,
              ./images/work/hurdlr/fact-profit.png 517w,
              ./images/work/hurdlr/fact-profit@1.5x.png 756w" sizes="(max-width: 768px) 90vw, 45vw">
          </div>
        </div>
      </section>

      <section class="block extra-padded-top shadow-inset-bottom hurdlr-review">
        <div class="inner-block padded-bottom row absolute-center-md">
          <div class="inner-block-content content-centered container">
            <h2 class="case-block-heading">Leveraging a Brand</h2>
            <p class="case-block-text wide">
              Even though this version of Hurdlr features are new, many solopreneurs already trust Hurdlr with their finances. We optimized,
              evolved and extended their brand language, so that while everything feels fresh, it still feels familiar.
            </p>
          </div>
        </div>
        <div class="inner-block">
          <div class="container relative">
            <div class="frame frame-desktop darker shadow-dark sr-tall lazy-ratio" data-width="989" data-height="1101">
              <img class="inner-block-image" alt="Annual review dashboard for desktop" data-normal="./images/work/hurdlr/review-desktop.jpg"
                data-srcset="./images/work/hurdlr/review-desktop@0.5x.jpg 495w,
                      ./images/work/hurdlr/review-desktop.jpg 989w,
                      ./images/work/hurdlr/review-desktop@1.5x.jpg 1484w" sizes="80vw">
            </div>
            <div class="frame frame-mobile shadow-dark darker absolute sr-left">
              <div class="frame-container">
                <img class="inner-block-image" alt="Onboarding Landing Page for Mobile" data-normal="./images/work/hurdlr/review-mobile.jpg"
                  data-srcset="./images/work/hurdlr/review-mobile@0.5x.jpg 188w,
                            ./images/work/hurdlr/review-mobile.jpg 375w,
                            ./images/work/hurdlr/review-mobile@2x.jpg 750w" sizes="25vw">
              </div>
            </div>
          </div>
      </section>

      <section class="case-referral row ">
        <div class="inner-block padded column absolute-center-xs half-md green">
          <div class="container ">
            <p class="case-referral-blockquote ">Short quote here from Hudlr team member lorem ipsum dolor sit.</p>
          </div>
        </div>
        <div class="inner-block padded column half-md black ">
          <div class="container ">
            <div class="case-referral-quote-icon "></div>
            <p class="case-referral-text ">Long quote here from Hurdlr team lorem ipsum dolot sit amet dolor sit amet audipiscing etiam elit. Long quote
              here from Rokt team member lorem dolor sit amet audipiscing etiam elit.</p>
            <p class="case-referral-author ">Firstname Lastname,
              <em>Position, Hurdlr</em>
            </p>
          </div>
        </div>
      </section>

      <section class="cta-block padded ">
        <a href="./work/homezen " class="cta-button cta-button-left " title="Previous Case ">Previous Case</a>
        <div class="cta-content container ">
          <div class="cta-text ">Sometimes, you find something that just works.</div>
          <a href="/approach " class="btn btn-text icon-arrow ">See Our Approach</a>
        </div>
        <a href="./work/felix " class="cta-button cta-button-right " title="Next Case ">Next Case</a>
      </section>
      <%- include ../partials/_footer %>
    </main>

    <%- include ../partials/_footer-scripts %>

      <script>
        let staggerDelay = 0.25;

        $('.notification').each(function () {
          let tl = new TimelineMax({
            paused: true,
            delay: staggerDelay,
          });

          const tlBounce = new TimelineMax({
            paused: true,
            delay: 2,
            repeatDelay: 2,
            repeat: -1
          }).to(
            $(this).children('.notification-tag'),
            0.2, {
              y: -20
            }
          ).to(
            $(this).children('.notification-tag'),
            1.5, {
              y: 0,
              ease: Elastic.easeOut.config(0.7, 0.3)
            }
          );

          const tlFade = new TimelineMax({
            paused: true,
            delay: 1.5,
            repeat: -1,
            repeatDelay: 1
          }).staggerTo(
            $(this).children('.text'),
            1, {
              autoAlpha: 0.4
            }, 0.25
          ).staggerTo(
            $(this).children('.text'),
            1, {
              autoAlpha: 1
            }, 0.25
          );

          tl
            .from(
              $(this),
              0.75, {
                y: '100%',
                autoAlpha: 0
              }
            )
            .staggerFrom(
              $(this).children('.text'),
              0.5, {
                attr: {
                  width: 0
                },
                onComplete: function () {
                  tlFade.play()
                }
              },
              0.25,
              0.25
            )
            .from(
              $(this).children('.notification-tag'),
              2, {
                y: 50,
                autoAlpha: 0,
                ease: Elastic.easeOut.config(0.7, 0.3),
                onComplete: function () {
                  tlBounce.play();
                }
              },
              0.55
            );

          staggerDelay += 0.25;

          new Waypoint.Inview({
            element: $('.hurdlr-notifications'),
            enter: function () {
              tl.play();
            }
          });
        });
      </script>

</body>

</html>