<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>Brave UX - Work - Miller Heiman Group</title>
  <%- include ../partials/_head %>
</head>

<body>
  <%- include ../partials/_menu %>
    <main class="wrapper case-study mhg">
      <header class="case-header">
        <div class="case-header-content container">
          <h5 class="case-header-client-name">Miller Heiman Group</h5>
          <h1 class="case-header-tagline">Helping sales teams&nbsp;
            <br />think more like&nbsp;
            <br />architects</h1>
          <h6 class="case-header-type">Sales Management Platform</h6>
        </div>
      </header>

      <section class="case-exec-summary padded dark-green">
        <div class="container">
          <p class="case-exec-summary-text">We helped Miller-Heiman take its research-proven sales methodology out of the spreadsheet and into a living, tangible
            online tool, where individuals and teams alike can collaborate and win on sales opportunities.</p>
        </div>
      </section>

      <section class="case-breakdown padded">
        <div class="container row">
          <div class="case-breakdown-box column gutter">
            <p class="case-breakdown-heading">Challenge</p>
            <h3 class="case-breakdown-summary">
              It's All In The Numbers
            </h3>
            <p class="case-breakdown-detail">
              Sales and marketing teams are no stranger to spreadsheets, but a lack of consistency and a clear starting point of patterns
              is holding the format back. Insights take hours to derive, and different users might reach different&nbsp;conclusions.
            </p>
          </div>
          <div class="case-breakdown-box column gutter">
            <p class="case-breakdown-heading">Solution</p>
            <h3 class="case-breakdown-summary">
              Highlight Better Habits
            </h3>
            <p class="case-breakdown-detail">
              We visualized the pipelines and opportunities for the user, so that we can guide them directly to what needs attention now.
              Standardized components make success repeatable, and historical patterns start to emerge - all in an intuitive&nbsp;format.
            </p>
          </div>
          <div class="case-breakdown-box column gutter">
            <p class="case-breakdown-heading">Scope</p>
            <ul class="case-breakdown-list">
              <li class="case-breakdown-list-item">Information Architecture</li>
              <li class="case-breakdown-list-item">Interaction Design</li>
            </ul>
          </div>
        </div>
      </section>

      <section class="block extra-padded offwhite">
        <div class="inner-block padded-bottom row absolute-center-md">
          <div class="inner-block-content content-centered container">
            <h2 class="case-block-heading">A true north for sales</h2>
            <p class="case-block-text">
              Savvy salespeople often keep track of everything in their head. Our navigation has to be intuitive, while helping bear some
              of the cognitive load. We keep the user focused on the task at head, without losing their place in their overall
              to-do list.
            </p>
          </div>
        </div>
        <div class="inner-block">
          <div class="container relative">
            <div class="frame frame-desktop darker shadow sr-tall lazy-ratio" data-width="2242" data-height="1260">
              <img data-normal="./images/work/mhg/high-level-nav-dash.jpg" alt="" class="inner-block-image contain">
            </div>
          </div>
      </section>

      <section class="block lazy-ratio" data-width="1440" data-height="600">
        <%- include ../partials/_mhg-graph %>
      </section>

      <section class="block row overflow blue mhg-cards-1">
        <div class="inner-block absolute-center-md padded column half-md">
          <div class="inner-block-content container">
            <h2 class="case-block-heading">A vision board</h2>
            <p class="case-block-text">
              Rolodexes and spreadsheets are both great at cramming a lot of data into one place, but they don&rsquo;t capture the why.
              Our system of ranked, curated cards empower users to quickly triage through what matters today.
            </p>
          </div>
        </div>
        <div class="inner-block column column-block padded-top align-self-center half-md">
          <div class="lazy-ratio" data-width="720" data-height="751">
            <img data-normal="./images/work/mhg/card1.png" alt="" class="inner-block-image contain sr-stagger-rotate">
            <img data-normal="./images/work/mhg/card2.png" alt="" class="inner-block-image contain sr-stagger-rotate">
            <img data-normal="./images/work/mhg/card3.png" alt="" class="inner-block-image contain sr-stagger-rotate">
          </div>
        </div>
      </section>

      <section class="block row overflow dark-green mhg-cards-2">
        <div class="inner-block column column-block padded-bottom  align-self-center half-md">
          <div class="lazy-ratio" data-width="720" data-height="751">
            <img data-normal="./images/work/mhg/card4.png" alt="" class="inner-block-image contain sr-stagger-rotate">
            <img data-normal="./images/work/mhg/card5.png" alt="" class="inner-block-image contain sr-stagger-rotate">
            <img data-normal="./images/work/mhg/card6.png" alt="" class="inner-block-image contain sr-stagger-rotate">
            <img data-normal="./images/work/mhg/card7.png" alt="" class="inner-block-image contain sr-stagger-rotate">
            <img data-normal="./images/work/mhg/card8.png" alt="" class="inner-block-image contain sr-stagger-rotate">
            <img data-normal="./images/work/mhg/card9.png" alt="" class="inner-block-image contain sr-stagger-rotate">
          </div>
        </div>
        <div class="inner-block absolute-center-md padded column half-md">
          <div class="inner-block-content container">
            <h2 class="case-block-heading">Smooth Transitions</h2>
            <p class="case-block-text">
              Numbers alone only communicate so much. We use a system of themed color, in addition to labels and iconography, to help instant
              recognition of what's performing well, and what needs more attention.
            </p>
          </div>
        </div>
      </section>

      <section class="block extra-padded offwhite">
        <div class="inner-block padded-bottom row absolute-center-md">
          <div class="inner-block-content content-centered container">
            <h2 class="case-block-heading">Flow through a funnel</h2>
            <p class="case-block-text">
              Is your funnel in shape? It&rsquo;s not enough to just show a list of opportunities. Our visualizations help users quickly
              understand what&rsquo;s expiring, what&rsquo;s ahead, and most importantly, what&rsquo;s at risk.
            </p>
          </div>
        </div>
        <div class="inner-block">
          <div class="container relative">
            <div class="frame frame-desktop darker shadow sr-tall lazy-ratio" data-width="2296" data-height="1290">
              <img data-normal="./images/work/mhg/funnel-full.jpg" alt="" class="inner-block-image contain">
            </div>
          </div>
      </section>

      <section class="block">
        <div class="lazy-ratio" data-width="2000" data-height="833">
          <img data-normal="./images/work/mhg/computer-man.jpg" alt="" class="inner-block-image contain">
        </div>
      </section>

      <section class="block extra-padded gray mhg-branding">
        <div class="inner-block padded-bottom row absolute-center-md">
          <div class="inner-block-content content-centered container">
            <h2 class="case-block-heading">Thinking in blue&#32;
              <br />and green</h2>
            <p class="case-block-text">
              Curation can only get us so far. Sometimes we need to show our work. Our evolution of Miller-Heiman&rsquo;s Blue and Green
              sheets pack a punch, in a much more attractive package. Plus, our co-branding with Miller-Heiman&rsquo;s system
              of products means that users always know what they're looking at.
            </p>
          </div>
        </div>
        <div class="inner-block gutter-left">
          <div class="frame frame-desktop lighter shadow sr-bottom lazy-ratio" data-width="2000" data-height="1124">
            <img data-normal="./images/work/mhg/green-sheet.jpg" alt="" class="inner-block-image contain">
          </div>
          <div class="frame frame-desktop edge-right lighter shadow-dark sr-right sr-delay-tripple absolute">
            <img data-normal="./images/work/mhg/blue-sheet.jpg" alt="" class="inner-block-image contain">
          </div>
        </div>
      </section>

      <section class="block padded offwhite">
        <div class="container row">
          <div class="inner-block absolute-center-md column half-md">
            <div class="inner-block-content gutter-right">
              <h2 class="case-block-heading">A face to name</h2>
              <p class="case-block-text">
                How do you create a symbol for a gut feeling? We worked with Miller-Heiman to help visualize the various ebbs and flows of
                the sales process, so that users are less a series of numbers in a database, and more of a strategic position
                in opportunities to be won.
              </p>
            </div>
          </div>
          <div class="inner-block column column-block half-md">
            <div class="lazy-ratio" data-width="1292" data-height="1096">
              <img data-normal="./images/work/mhg/card-edit-copy.png" alt="" class="inner-block-image contain absolute-right sr-left sr-delay-double">
              <img data-normal="./images/work/mhg/card-collapsed.png" alt="" class="inner-block-image contain sr-bottom">
            </div>
          </div>
        </div>
      </section>

      <section class="case-referral row">
        <div class="inner-block padded column absolute-center-xs half-md dark-green">
          <div class="container">
            <p class="case-referral-blockquote">Long quote here from MHG team member</p>
          </div>
        </div>
        <div class="inner-block padded column half-md green">
          <div class="container">
            <div class="case-referral-quote-icon"></div>
            <p class="case-referral-text">Long quote here from MHG team member lorem ipsum dolor sit amet. Long quote here from Gensler team member lorem
              ipsum. Long quote here from Gensler team member lorem ipsum.</p>
            <p class="case-referral-author">Firstname Last name,
              <em>Position, Miller Heiman Group</em>
            </p>
          </div>
        </div>
      </section>

      <section class="cta-block padded">
        <a href="./work/homezen" class="cta-button cta-button-left" title="Previous Case">Previous Case</a>
        <div class="cta-content container">
          <div class="cta-text">Sometimes, you find something that just works.</div>
          <a href="/approach" class="btn btn-text icon-arrow">See Our Approach</a>
        </div>
        <a href="./work/felix" class="cta-button cta-button-right" title="Next Case">Next Case</a>
      </section>
      <%- include ../partials/_footer %>
    </main>

    <%- include ../partials/_footer-scripts %>

</body>

</html>